name : Pipeline CICD
on : 
    push :
        branches: 
            [main, master, dev]

#env:

jobs :
    #Test-Unit-Tests :


    build-and-push-docker-image :
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Build Docker image
              run: docker build -t adeem07/server-api:${{ github.sha }} .
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Push Docker image
              run: docker push adeem07/server-api:${{ github.sha }}


    deploy-to-VPS :
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to VPS via SSH
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.SSH_HOST }}
                username: ${{ secrets.SSH_USERNAME }}
                key: ${{ secrets.SSH_PRIVATE_KEY }}
                script: |
                    echo "Successfully connected to VPS."
            - name: Deploy docker-compose on VPS
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.SSH_HOST }}
                username: ${{ secrets.SSH_USERNAME }}
                key: ${{ secrets.SSH_PRIVATE_KEY }}
                script: |
                    echo "Deploying docker-compose on VPS..."
                    sudo su
                    cd /home/user/Full-Stack-App-MERN-With-Docker/devops-script/backend/dev
                    docker compose pull
                    docker compose up -d
                    docker compose ps 
                    echo "Deployment completed successfully."
                    