name : Pipeline CICD
on : 
    push :
        branches: 
            [main, master, dev]

env:
    DOCKER_IMAGE_NAME: adeem07/server-api
    PATH_TO_DOCKER_COMPOSE_FILE: /home/user/Full-Stack-App-MERN-With-Docker/devops-script/backend/dev/docker-compose.yml


jobs :
    Test-Unit-Tests :
        runs-on: ubuntu-latest
        steps: 
            - name: checkout code
              uses: actions/checkout@v3
            - name: install dependencies
              run: npm install
            - name: run unit tests
              run: npm test


    build-and-push-docker-image :
        runs-on: ubuntu-latest
        needs: [Test-Unit-Tests]
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Build Docker image
              run: docker build -t ${{ env.DOCKER_IMAGE_NAME }}:${{ github.run_number }} .
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Push Docker image
              run: docker push ${{ env.DOCKER_IMAGE_NAME }}:${{ github.run_number }}


    deploy-to-VPS :
        runs-on: ubuntu-latest
        needs: [build-and-push-docker-image]
        steps:
            - name: Execute remote SSH commands using password
              uses: appleboy/ssh-action@v1
              with:
                host: ${{ secrets.HOST }}
                username: ${{ secrets.USER }} 
                password: ${{ secrets.PASSWORD }}
                port: ${{ secrets.PORT }}
                script: |
                    echo "Deploying docker-compose on VPS..."
                    sudo su
                    cd ${{ env.PATH_TO_DOCKER_COMPOSE_FILE }}
                    docker compose pull
                    docker compose up -d
                    docker compose ps 
                    echo "Deployment completed successfully."
                    